/* src/components/Navbar.css */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-item {
    padding: 0.5rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
  }
  
  
  .nav-item button {
    background-color: #333;
    text-decoration: none;
    color: #fff;
  }

  .nav-item a:hover {
    text-decoration: underline;
  }
  